<launch>
   <arg name="ip" default="140.113.148.92"/>
   <arg name="ws" default="1"/>
   
   <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
      <arg name="port" value="9090" />
   </include>

   <node pkg="vrx_gazebo" type="connect_ws.py" name="connect_ws" output="screen">
      <param name="~ip" value="$(arg ip)" />
      <param name="~ws" value="$(arg ws)" />
   </node>

</launch>
