<launch>
    <arg name="veh" default="wamv2"/>
    <arg name="sub_wamv_pose_topic" default="/gazebo/wamv2/pose"/>
    <!-- Node to run the visual servoing -->
    <node ns="$(arg veh)" pkg="vrx_gazebo" type="draw_path.py" name="draw_path" output="screen">
        <param name="sub_wamv_pose_topic" value="$(arg sub_wamv_pose_topic)"/>
    </node>

    <group ns="camera2">
    <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster"
        args="0 0 99 1 1 0 0 map camera2 10" />
    <node name="camera_info" pkg="rostopic" type="rostopic"
        args="pub camera_info sensor_msgs/CameraInfo
      '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera2'},
        height: 480, width: 640, distortion_model: 'plumb_bob',
        D: [0],
        K: [500.0, 0.0, 320, 0.0, 500.0, 240.0, 0.0, 0.0, 1.0],
        R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
        P: [500.0, 0.0, 320, 0.0, 0.0, 500, 240, 0.0, 0.0, 0.0, 1.0, 0.0],
        binning_x: 0, binning_y: 0,
        roi: {x_offset: 0, y_offset: 0, height: 480, width: 640, do_rectify: false}}' -r 2"
        output="screen"/>
    <node pkg="image_transport" type="republish" name="image_republisher_camera2" output="screen"
          args="raw in:=/rviz1/camera2/image compressed out:=/mini_map" />
  </group>

  <group ns="rviz1/camera2/image">
    <rosparam param="disable_pub_plugins">
      - 'image_transport/compressedDepth'
      - 'image_transport/theora'
    </rosparam>
  </group>

</launch>