<?xml version="1.0"?>

<launch>

    <arg name="veh" default="wamv2" />
    <arg name="x" default="30" />
    <arg name="y" default="30" />
    <arg name="z" default="-0.090229" />

    <arg name="qx" default="0" />
    <arg name="qy" default="0" />
    <arg name="qz" default="0" />
    <arg name="qw" default="1" />

    <group ns="$(arg veh)">
        <node pkg="vrx_gazebo" type="fake_fence_real2sim_pose_1ws.py" name="fake_fence_real2sim_pose" output="screen">
            <remap from="joy" to="/joy" />
            <param name="~x" value="$(arg x)" />
            <param name="~y" value="$(arg y)" />
            <param name="~z" value="$(arg z)" />           
            <param name="~qx" value="$(arg qx)" />
            <param name="~qy" value="$(arg qy)" />
            <param name="~qz" value="$(arg qz)" />
            <param name="~qw" value="$(arg qw)" />
        </node>
    </group>
</launch>
