<?xml version="1.0"?>

<launch>

    <arg name="veh" default="wamv2" />
    <arg name="sync_freq" default="10" />


    <node pkg="vrx_gazebo" type="fake_fence_real2sim_pose_2ws.py" name="fake_fence_real2sim_pose" output="screen">
        <remap from="joy" to="/joy" />
        <param name="sync_freq" value="$(arg sync_freq)" />
    </node>

</launch>
