<?xml version="1.0" ?>
<!-- World containing sydneyregatta model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <xacro:include filename="$(find vrx_gazebo)/worlds/sydneyregatta.xacro" />
    <xacro:sydneyregatta />
    <!--Waves-->
    <xacro:include filename="$(find wave_gazebo)/world_models/ocean_waves/model.xacro"/>
    <xacro:ocean_waves scale="2.5"/>

    <!--Wind-->
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/usv_wind_plugin.xacro"/>
    <xacro:usv_wind_gazebo>
      <wind_objs>
        <wind_obj>
          <name>wamv</name>
          <link_name>wamv/base_link</link_name>
          <coeff_vector>.5 .5 .33</coeff_vector>
        </wind_obj>
      </wind_objs>
    </xacro:usv_wind_gazebo>

     <!-- layout -->
    <include>
      <uri>model://black_totem</uri>
      <name>block00</name>
      <pose>-542.69 256.06 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block01</name>
      <pose>-542.34 267.69 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block02</name>
      <pose>-543.75 275.48 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block03</name>
      <pose>-544.08 285.81 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block04</name>
      <pose>-544.47 295.07 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block05</name>
      <pose>-543.31 305.53 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block06</name>
      <pose>-544.34 315.97 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block07</name>
      <pose>-543.22 327.74 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block08</name>
      <pose>-542.86 336.35 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block09</name>
      <pose>-542.19 347.45 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block10</name>
      <pose>-534.98 256.49 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block11</name>
      <pose>-534.88 266.84 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block12</name>
      <pose>-533.63 275.84 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block13</name>
      <pose>-533.17 286.37 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block14</name>
      <pose>-534.41 296.64 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block15</name>
      <pose>-533.87 305.32 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block16</name>
      <pose>-532.33 315.54 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block17</name>
      <pose>-533.18 326.63 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block18</name>
      <pose>-534.90 337.80 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block19</name>
      <pose>-534.20 345.62 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block20</name>
      <pose>-523.00 257.25 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block21</name>
      <pose>-524.28 267.18 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block22</name>
      <pose>-524.12 277.25 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block23</name>
      <pose>-522.01 286.31 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block24</name>
      <pose>-524.22 297.46 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block25</name>
      <pose>-522.67 307.27 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block26</name>
      <pose>-522.12 316.67 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block27</name>
      <pose>-523.25 325.86 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block28</name>
      <pose>-523.78 337.47 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block29</name>
      <pose>-522.42 345.76 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block30</name>
      <pose>-513.12 256.46 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block31</name>
      <pose>-514.66 266.58 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block32</name>
      <pose>-512.84 276.22 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block33</name>
      <pose>-514.47 279.5 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block33_1</name>
      <pose>-514.47 282.85 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block33_2</name>
      <pose>-514.47 286.17 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block34</name>
      <pose>-513.20 296.58 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block34_1</name>
      <pose>-512.12 299.4 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block34_2</name>
      <pose>-512.12 302.25 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block35</name>
      <pose>-512.12 305.08 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block36</name>
      <pose>-514.17 317.58 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block37</name>
      <pose>-512.06 325.18 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block38</name>
      <pose>-514.05 337.96 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block39</name>
      <pose>-513.09 346.60 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block40</name>
      <pose>-504.18 256.73 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block41</name>
      <pose>-502.81 267.05 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block42</name>
      <pose>-504.10 276.63 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block43</name>
      <pose>-504.08 287.76 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block44</name>
      <pose>-504.59 296.85 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block45</name>
      <pose>-503.57 305.86 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block46</name>
      <pose>-502.35 316.24 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block47</name>
      <pose>-504.88 325.04 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block48</name>
      <pose>-502.67 335.13 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block49</name>
      <pose>-504.43 347.60 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block50</name>
      <pose>-494.78 255.81 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block51</name>
      <pose>-492.16 265.33 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block52</name>
      <pose>-493.77 277.12 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block53</name>
      <pose>-493.98 286.76 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block54</name>
      <pose>-494.98 295.6 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block55</name>
      <pose>-492.29 305.76 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block56</name>
      <pose>-492.94 317.89 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block56_x1</name>
      <pose>-492.94 317.89 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block56_x2</name>
      <pose>-490 317.89 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block57</name>
      <pose>-487.2 325.03 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block58</name>
      <pose>-493.97 336.12 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block59</name>
      <pose>-492.6 347.76 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block60</name>
      <pose>-484.6 255.57 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block61</name>
      <pose>-482.07 266.23 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block62</name>
      <pose>-482.5 276.68 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block63</name>
      <pose>-484.61 285.69 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block64</name>
      <pose>-483.64 295.4 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block65</name>
      <pose>-483.12 305.70 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block65_1</name>
      <pose>-484.35 309.38 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block65_2</name>
      <pose>-484.35 313.06 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block66</name>
      <pose>-484.35 316.74 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block67</name>
      <pose>-482.09 327.71 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block68</name>
      <pose>-482.42 335.16 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block69</name>
      <pose>-482.24 345.97 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block70</name>
      <pose>-474.89 257.36 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block71</name>
      <pose>-472.91 267.8 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block72</name>
      <pose>-473.84 276.19 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block73</name>
      <pose>-472.14 286.29 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block74</name>
      <pose>-474.65 295.61 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block75</name>
      <pose>-474.13 307.04 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block76</name>
      <pose>-472.1 315.41 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block77</name>
      <pose>-472.45 325.82 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block78</name>
      <pose>-473.64 337.92 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block79</name>
      <pose>-472.46 347.29 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block80</name>
      <pose>-464.37 255.06 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block81</name>
      <pose>-464.44 265.27 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block82</name>
      <pose>-463.66 275.72 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a5</uri>
      <name>block83</name>
      <pose>-464.8 287.03 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block84</name>
      <pose>-464.54 296.24 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block85</name>
      <pose>-464.47 305.62 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block86</name>
      <pose>-463.7 316.67 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block87</name>
      <pose>-462.68 325.39 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://green_totem</uri>
      <name>block88</name>
      <pose>-464.83 336.46 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block89</name>
      <pose>-463.89 346.73 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block90</name>
      <pose>-454.37 255.51 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block91</name>
      <pose>-454.1 265.27 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block92</name>
      <pose>-452.12 277.14 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block93</name>
      <pose>-453.37 285.32 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block94</name>
      <pose>-452.4 297.8 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block95</name>
      <pose>-453.74 306.93 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block96</name>
      <pose>-453.63 317.09 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block97</name>
      <pose>-453.47 326.64 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block98</name>
      <pose>-453.54 336.90 0.00 0.00 0.00 0.00</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block99</name>
      <pose>-452.92 347.78 0.00 0.00 0.00 0.00</pose>
    </include>
    
    
    <!-- layout -->

  </world>
</sdf>