<?xml version="1.0" ?>
<!-- World containing sydneyregatta model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <!-- <xacro:include filename="$(find vrx_gazebo)/worlds/sydneyregatta.xacro" />
    <xacro:sydneyregatta /> -->
    <!--Waves-->
    <xacro:include filename="$(find wave_gazebo)/world_models/ocean_waves/model.xacro"/>
    <xacro:ocean_waves scale="2.5"/>

    <!--Wind-->
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/usv_wind_plugin.xacro"/>
    <xacro:usv_wind_gazebo>
      <wind_objs>
        <wind_obj>
          <name>wamv</name>
          <link_name>wamv/base_link</link_name>
          <coeff_vector>.5 .5 .33</coeff_vector>
        </wind_obj>
      </wind_objs>
    </xacro:usv_wind_gazebo>

     <!-- layout -->
    <include>
      <uri>model://black_totem</uri>
      <name>block00</name>
      <pose>4.17312 6.74389 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block01</name>
      <pose>3.67877 23.0221 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block02</name>
      <pose>-5.87027 6.04045 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block03</name>
      <pose>-5.96404 -4.90831 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block04</name>
      <pose>25.2556 26.8571 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block05</name>
      <pose>-1.86632 13.2234 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block06</name>
      <pose>38.1372 39.7799 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block07</name>
      <pose>34.394 19.3769 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block08</name>
      <pose>23.3048 19.1155 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block09</name>
      <pose>3.67877 23.0221 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block10</name>
      <pose>35.9409 28.361 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://blue_totem</uri>
      <name>block11</name>
      <pose>27.02 40.5617 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block12</name>
      <pose>16.0778 31.2112 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block13</name>
      <pose>-28.7782 18.8144 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://yellow_totem</uri>
      <name>block14</name>
      <pose>-41.1977 4.88937 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://polyform_a7</uri>
      <name>block15</name>
      <pose>-35.9044 12.5787 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block16</name>
      <pose>-36.4915 -1.8949 0 0 -0 0</pose>
    </include> -->

    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block17</name>
      <pose>-38.8952 -13.8905 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block18</name>
      <pose>23.1258 -5.80132 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block19</name>
      <pose>-43.006 -6.95526 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://blue_totem</uri>
      <name>block20</name>
      <pose>9.34001 39.5769 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block21</name>
      <pose>-1.72714 38.6391 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block22</name>
      <pose>-12.7814 35.8637 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block23</name>
      <pose>-5.50308 30.3053 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block24</name>
      <pose>-14.5645 26.9922 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block25</name>
      <pose>-16.6381 19.1844 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block26</name>
      <pose>-25.3794 10.5729 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block27</name>
      <pose>-29.9351 3.47194 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block28</name>
      <pose>-21.6467 -4.35849 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block29</name>
      <pose>-14.0321 -6.86022 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block30</name>
      <pose>36.6021 4.60032 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block31</name>
      <pose>10.9634 -48.5098 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block32</name>
      <pose>-4.66983 -20.0209 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block33</name>
      <pose>4.40709 -15.3128 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block34</name>
      <pose>-44.3512 -34.3322 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block35</name>
      <pose>-14.6431 -49.144 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block36</name>
      <pose>-16 -40 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block37</name>
      <pose>-6 -50 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block38</name>
      <pose>16.7872 -38.0142 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block39</name>
      <pose>23.6567 -32.095 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block40</name>
      <pose>-41.1977 4.88937 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block41</name>
      <pose>29.9933 -25.0772 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block42</name>
      <pose>37.9527 -28.3942 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block43</name>
      <pose>-55.1383 17.4575 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block44</name>
      <pose>35.9409 28.361 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://blue_totem</uri>
      <name>block45</name>
      <pose>-36.4915 -1.8949 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block46</name>
      <pose>-62.4801 23.0808 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://red_totem</uri>
      <name>block47</name>
      <pose>-51.7446 8.73379 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://yellow_totem</uri>
      <name>block48</name>
      <pose>-17.0812 -15.3564 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block49</name>
      <pose>-44.8289 12.8711 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block50</name>
      <pose>-38.8952 -13.8905 0 0 -0 0</pose>
    </include> -->

    <include>
      <uri>model://black_totem</uri>
      <name>block51</name>
      <pose>-23.5549 -48.5314 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block52</name>
      <pose>-50.089 20.4232 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block53</name>
      <pose>-39 20.4781 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block54</name>
      <pose>-32.784 -19.3656 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block55</name>
      <pose>-30.6482 -6.95158 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block56</name>
      <pose>-45.8013 25.7865 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block57</name>
      <pose>1.66284 -8.32895 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block58</name>
      <pose>-8.19573 -13.2852 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block59</name>
      <pose>11.7503 -6.40353 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block60</name>
      <pose>18.1538 -0.653096 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block61</name>
      <pose>-11.7442 11.5102 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block62</name>
      <pose>27.7125 2.00048 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block63</name>
      <pose>22.7195 10.5008 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block64</name>
      <pose>32.9249 11.1544 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block65</name>
      <pose>13.709 21.9719 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block66</name>
      <pose>-5.57517 20.3481 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block67</name>
      <pose>4.43792 30.9787 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block68</name>
      <pose>7.24292 14.6466 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block69</name>
      <pose>6.60508 0.636365 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block70</name>
      <pose>-23.9442 -12.5753 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block71</name>
      <pose>-18.1817 3.8328 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block72</name>
      <pose>-10.4152 -0.910006 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block73</name>
      <pose>13.6994 8.72561 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block74</name>
      <pose>-9.88673 -44.2109 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block75</name>
      <pose>-3.32715 -43.808 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block76</name>
      <pose>8.55761 -43.5871 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block77</name>
      <pose>9.11384 -38.2933 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block78</name>
      <pose>6.12616 -30.2248 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block79</name>
      <pose>-3.75387 -29.9243 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block80</name>
      <pose>46.944 13.8016 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://red_totem</uri>
      <name>block81</name>
      <pose>23.1543 34.9869 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://yellow_totem</uri>
      <name>block82</name>
      <pose>51.1308 -22.5253 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block83</name>
      <pose>24.6308 47.3855 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block84</name>
      <pose>37.0651 34.0781 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block85</name>
      <pose>42.9857 33.4827 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block86</name>
      <pose>-1.36364 49.3606 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block87</name>
      <pose>8.14698 48.4083 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block88</name>
      <pose>47.5051 33 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block89</name>
      <pose>42.129 29.9889 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block90</name>
      <pose>40.2837 23.1067 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block91</name>
      <pose>45.9239 21.7435 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block92</name>
      <pose>17.6476 44.778 0 0 -0 0</pose>
    </include>

    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block93</name>
      <pose>21.6588 52.7008 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://polyform_a3</uri>
      <name>block94</name>
      <pose>41.1235 19.9878 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block95</name>
      <pose>-10.6374 -30.3795 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block96</name>
      <pose>33.9296 -17.577 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block97</name>
      <pose>35.1683 45.8932 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block98</name>
      <pose>46.6248 46.6188 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block99</name>
      <pose>49 37 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block100</name>
      <pose>-21.5163 -33.5285 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block101</name>
      <pose>48 26 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block102</name>
      <pose>-26.2536 -40.7312 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block103</name>
      <pose>56 15 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block104</name>
      <pose>59.1228 22.9106 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block105</name>
      <pose>57.0193 31.3924 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block106</name>
      <pose>22.0641 -20.5765 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block107</name>
      <pose>9.51281 -21.4337 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block108</name>
      <pose>-41.629 28.9616 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block109</name>
      <pose>-46.1549 -47.7814 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block110</name>
      <pose>44.4007 -14.4829 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block111</name>
      <pose>-55.1644 -47.7732 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block112</name>
      <pose>-34.2352 -52.2046 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://blue_totem</uri>
      <name>block113</name>
      <pose>23.1258 -5.80132 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block114</name>
      <pose>-43.006 -6.95526 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block115</name>
      <pose>39.0177 9.81479 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://yellow_totem</uri>
      <name>block116</name>
      <pose>44.0627 8.73817 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block117</name>
      <pose>41.9987 4.7101 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://polyform_a7</uri>
      <name>block118</name>
      <pose>44.7904 1.3087 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block119</name>
      <pose>49 10 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block120</name>
      <pose>41.3418 -8.33335 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block121</name>
      <pose>37.3316 -10.2025 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block122</name>
      <pose>-26.9528 33.384 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block123</name>
      <pose>-22.75 27.32 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block124</name>
      <pose>-24.902253544336702 39.167461874716786 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block125</name>
      <pose>15.9692 -12.8837 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block126</name>
      <pose>29.4941 -6.27443 0 0 -0 0</pose>
    </include>

    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block127</name>
      <pose>-63.7712 -12.467 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://polyform_a3</uri>
      <name>block128</name>
      <pose>44.1203 -22.2121 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block129</name>
      <pose>37.762 -22.2351 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://blue_totem</uri>
      <name>block130</name>
      <pose>-9.98674 -40.8592 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block131</name>
      <pose>-9.83852 -35.8121 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://red_totem</uri>
      <name>block132</name>
      <pose>3.07368 -43.7653 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://yellow_totem</uri>
      <name>block133</name>
      <pose>-41.501 -61.7372 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block134</name>
      <pose>-41.0505 -70.9592 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block135</name>
      <pose>-29.0516 -72.6201 0 0 -0 0</pose>
    </include> -->

    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block136</name>
      <pose>-4.38097 58.2504 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://polyform_a3</uri>
      <name>block137</name>
      <pose>-1.36364 49.3606 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block138</name>
      <pose>8.14698 48.4083 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://blue_totem</uri>
      <name>block139</name>
      <pose>11.9911 56.6409 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block140</name>
      <pose>17.1055 -74.2371 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block141</name>
      <pose>25.6415 -73.3181 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block142</name>
      <pose>31.8976 -73.4729 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block143</name>
      <pose>39.0487 -73.0839 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block144</name>
      <pose>48.0509 -73.8488 0 0 -0 0</pose>
    </include> -->

    <include>
      <uri>model://black_totem</uri>
      <name>block145</name>
      <pose>-19.9631 53.8104 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block146</name>
      <pose>-14.6686 45.145 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block147</name>
      <pose>36.9517 -4.00698 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block148</name>
      <pose>-41.629 28.9616 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block149</name>
      <pose>-45 36 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://red_totem</uri>
      <name>block150</name>
      <pose>-55.6196 38.8698 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block151</name>
      <pose>-55.1991 50.8798 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block152</name>
      <pose>-50 46.5551 0 0 -0 0</pose>
    </include> -->

    <include>
      <uri>model://black_totem</uri>
      <name>block153</name>
      <pose>-42 44 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block154</name>
      <pose>-32.6812 44.1469 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block155</name>
      <pose>-39.3405 53.7776 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block156</name>
      <pose>59 -46 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block157</name>
      <pose>45 -54 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://red_totem</uri>
      <name>block158</name>
      <pose>-51.8566 -13.0406 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://yellow_totem</uri>
      <name>block159</name>
      <pose>-29.8396 51.975 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block160</name>
      <pose>46.4555 -45.0153 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block161</name>
      <pose>34.7769 -60.0377 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block162</name>
      <pose>20.3377 -64.2489 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block163</name>
      <pose>20.8803 -56.0962 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block164</name>
      <pose>-24.87 47.0793 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block165</name>
      <pose>32.5084 -51 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block166</name>
      <pose>37.5311 -42 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block167</name>
      <pose>53 -39.4989 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block168</name>
      <pose>54.2628 -53.8578 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block169</name>
      <pose>46.5077 -63.1766 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block170</name>
      <pose>-46.0559 -21.0324 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block171</name>
      <pose>9.57815 -63.1233 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block172</name>
      <pose>-1.27961 -65.1182 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block173</name>
      <pose>-13.4312 -65.0864 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block174</name>
      <pose>-26 -65 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block175</name>
      <pose>-18 -59.491 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block176</name>
      <pose>-8.44293 -56 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block177</name>
      <pose>3 -59.4231 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block178</name>
      <pose>11 -53 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block179</name>
      <pose>17.8011 -46.2771 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block180</name>
      <pose>25.7664 -39.1516 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block181</name>
      <pose>-37.7183 -27.806 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block182</name>
      <pose>33.6266 -35.9008 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block183</name>
      <pose>42 -34 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block184</name>
      <pose>49 -33 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block185</name>
      <pose>57 -32 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block186</name>
      <pose>66 -30 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block187</name>
      <pose>75 -33 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block188</name>
      <pose>77.1748 -21.023 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block189</name>
      <pose>64.1568 -21.3364 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block190</name>
      <pose>44.4007 -14.4829 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block191</name>
      <pose>46.2912 -4.07325 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block192</name>
      <pose>-27.2585 -28.3269 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block193</name>
      <pose>53.5679 4.43675 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://yellow_totem</uri>
      <name>block194</name>
      <pose>62.8101 3.9948 0 0 -0 0</pose>
    </include> -->
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block195</name>
      <pose>70 5 0 0 -0 0</pose>
    </include> -->

    <include>
      <uri>model://black_totem</uri>
      <name>block196</name>
      <pose>9.91312 -0.020544 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block197</name>
      <pose>0.21125 10.0085 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://black_totem</uri>
      <name>block198</name>
      <pose>-4.23582 -2.70174 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://blue_totem</uri>
      <name>block199</name>
      <pose>7.30409 -11.436 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block200</name>
      <pose>-11.7442 11.5102 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block201</name>
      <pose>11.6258 16.3816 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block202</name>
      <pose>19.1938 5.55905 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block203</name>
      <pose>18.5357 -8.6846 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a7</uri>
      <name>block204</name>
      <pose>-18.1817 3.8328 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://yellow_totem</uri>
      <name>block205</name>
      <pose>-19.9913 -7.29111 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://yellow_totem</uri>
      <name>block206</name>
      <pose>16.2903 -19.3402 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block207</name>
      <pose>32.1208 -0.819093 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block208</name>
      <pose>30.4122 20.5859 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block209</name>
      <pose>-5.23482 24.6288 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a3</uri>
      <name>block210</name>
      <pose>-30.1433 10.0247 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block211</name>
      <pose>-31.3491 -2.20169 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block212</name>
      <pose>-29.6711 -15.9655 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block213</name>
      <pose>-16.5501 -21.1883 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://red_totem</uri>
      <name>block214</name>
      <pose>0.21746 -24.2837 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block215</name>
      <pose>-14.0854 -32.9591 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block216</name>
      <pose>15.5274 -30.8645 0 0 -0 0</pose>
    </include>

    <include>
      <uri>model://black_totem</uri>
      <name>block217</name>
      <pose>30.7307 -15.3035 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://polyform_a3</uri>
      <name>block218</name>
      <pose>31.8693 -27.592 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://black_totem</uri>
      <name>block219</name>
      <pose>24.2692 33.1403 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://blue_totem</uri>
      <name>block220</name>
      <pose>-33.7612 -46.9023 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://black_totem</uri>
      <name>block221</name>
      <pose>-33.8247 -28.9338 0 0 -0 0</pose>
    </include>
    <!-- <include>
      <uri>model://red_totem</uri>
      <name>block222</name>
      <pose>34.7554 -38.1414 0 0 -0 0</pose>
    </include> -->
    <include>
      <uri>model://yellow_totem</uri>
      <name>block223</name>
      <pose>27.8444 -49.1687 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block224</name>
      <pose>43 -47 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://polyform_a7</uri>
      <name>block225</name>
      <pose>45.8098 -28.1092 0 0 -0 0</pose>
    </include>
    <include>
      <uri>model://yellow_totem</uri>
      <name>block226</name>
      <pose>-11.1903 -41.7554 0 0 -0 0</pose>
    </include>
      
    
    
    <!-- layout -->

  </world>
</sdf>