<?xml version="1.0" ?>
<!-- World containing sydneyregatta model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <!-- <xacro:include filename="$(find vrx_gazebo)/worlds/sydneyregatta.xacro" />
    <xacro:sydneyregatta /> -->
    <!--Waves-->
    <xacro:include filename="$(find wave_gazebo)/world_models/ocean_waves/model.xacro"/>
    <xacro:ocean_waves scale="2.5"/>
    <spherical_coordinates>
      <surface_model>EARTH_WGS84</surface_model>
      <world_frame_orientation>ENU</world_frame_orientation>
      <latitude_deg>-33.724223</latitude_deg>
      <longitude_deg>150.679736</longitude_deg>
      <elevation>0.0</elevation>
      <heading_deg>0.0</heading_deg>
    </spherical_coordinates>
    <!--Wind-->
    <!-- <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/usv_wind_plugin.xacro"/>
    <xacro:usv_wind_gazebo>
      <wind_objs>
        <wind_obj>
          <name>wamv</name>
          <link_name>wamv/base_link</link_name>
          <coeff_vector>.5 .5 .33</coeff_vector>
        </wind_obj>
      </wind_objs>
    </xacro:usv_wind_gazebo> -->

  <!-- left obstacle -->
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l17</name>
          <pose>60 -57.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l18</name>
          <pose>60 -56.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l19</name>
          <pose>60 -54.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l20</name>
          <pose>60 -53.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l21</name>
          <pose>60 -51.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l22</name>
          <pose>60 -50.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l23</name>
          <pose>60 -48.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l24</name>
          <pose>60 -47.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l25</name>
          <pose>60 -45.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l26</name>
          <pose>60 -44.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l27</name>
          <pose>60 -42.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l28</name>
          <pose>60 -41.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l29</name>
          <pose>60 -39.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l30</name>
          <pose>60 -38.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l31</name>
          <pose>60 -36.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l32</name>
          <pose>60 -35.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l33</name>
          <pose>60 -33.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l34</name>
          <pose>60 -32.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l35</name>
          <pose>60 -30.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l36</name>
          <pose>60 -29.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l37</name>
          <pose>60 -27.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l38</name>
          <pose>60 -26.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l39</name>
          <pose>60 -24.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l40</name>
          <pose>60 -23.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l41</name>
          <pose>60 -21.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l42</name>
          <pose>60 -20.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l43</name>
          <pose>60 -18.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l44</name>
          <pose>60 -17.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l45</name>
          <pose>60 -15.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l46</name>
          <pose>60 -14.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l47</name>
          <pose>60 -12.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l48</name>
          <pose>60 -11.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l49</name>
          <pose>60 -9.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>

        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l50</name>
          <pose>60 -8.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_l51</name>
          <pose>60 -6.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <!-- right obstacle -->      
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r2</name>
          <pose>60 6.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
          
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r3</name>
          <pose>60 7.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r4</name>
          <pose>60 9.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r5</name>
          <pose>60 10.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r6</name>
          <pose>60 12.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r7</name>
          <pose>60 13.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r8</name>
          <pose>60 15.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r9</name>
          <pose>60 16.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r10</name>
          <pose>60 18.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r11</name>
          <pose>60 19.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r12</name>
          <pose>60 21.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r13</name>
          <pose>60 22.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r14</name>
          <pose>60 24.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r15</name>
          <pose>60 25.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r16</name>
          <pose>60 27.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r17</name>
          <pose>60 28.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r18</name>
          <pose>60 30.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r19</name>
          <pose>60 31.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r20</name>
          <pose>60 33.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r21</name>
          <pose>60 34.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r22</name>
          <pose>60 36.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r23</name>
          <pose>60 37.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r24</name>
          <pose>60 39.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r25</name>
          <pose>60 40.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r26</name>
          <pose>60 42.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r27</name>
          <pose>60 43.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r28</name>
          <pose>60 45.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r29</name>
          <pose>60 46.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r30</name>
          <pose>60 48.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r31</name>
          <pose>60 49.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r32</name>
          <pose>60 51.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r33</name>
          <pose>60 52.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r34</name>
          <pose>60 54.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r35</name>
          <pose>60 55.5 0.5 0 -0 0</pose>
          <static>true</static>
        </include>
        
        <include>
          <uri>model://polyform_a7</uri>
          <name>block_r36</name>
          <pose>60 57.0 0.5 0 -0 0</pose>
          <static>true</static>
        </include>

        <include>
          <uri>model://dock_block_4x4</uri>
          <name>dock_block_4x4_1</name>
          <pose>-20 0 0.2 0 -0 0</pose>
          <static>true</static>
        </include>
        <!--obstacle-->
      
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_0</name>
          <pose>300 -50.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_1</name>
          <pose>300 -51.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_2</name>
          <pose>300 -53.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_3</name>
          <pose>300 -54.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_4</name>
          <pose>300 -56.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_5</name>
          <pose>300 -57.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_6</name>
          <pose>300 -59.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_7</name>
          <pose>300 -60.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_8</name>
          <pose>300 -62.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_9</name>
          <pose>300 -63.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_10</name>
          <pose>300 -65.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_11</name>
          <pose>300 -66.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_12</name>
          <pose>300 -68.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_13</name>
          <pose>300 -69.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_14</name>
          <pose>300 -71.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_15</name>
          <pose>300 -72.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_16</name>
          <pose>300 -74.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_17</name>
          <pose>300 -75.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_18</name>
          <pose>300 -77.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_19</name>
          <pose>300 -78.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_20</name>
          <pose>300 -80.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_21</name>
          <pose>300 -81.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_22</name>
          <pose>300 -83.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_23</name>
          <pose>300 -84.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_24</name>
          <pose>300 -86.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_25</name>
          <pose>300 -87.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_26</name>
          <pose>300 -89.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_27</name>
          <pose>300 -90.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_28</name>
          <pose>300 -92.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_29</name>
          <pose>300 -93.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_30</name>
          <pose>300 -95.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_31</name>
          <pose>300 -96.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_32</name>
          <pose>300 -98.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_33</name>
          <pose>300 -99.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_34</name>
          <pose>300 -101.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_35</name>
          <pose>300 -102.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_36</name>
          <pose>300 -104.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_37</name>
          <pose>300 -105.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_38</name>
          <pose>300 -107.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_39</name>
          <pose>300 -108.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_40</name>
          <pose>300 -110.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_41</name>
          <pose>300 -111.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_42</name>
          <pose>300 -113.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_43</name>
          <pose>300 -114.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_44</name>
          <pose>300 -116.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_45</name>
          <pose>300 -117.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_46</name>
          <pose>300 -119.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_47</name>
          <pose>300 -120.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_48</name>
          <pose>300 -122.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_49</name>
          <pose>300 -123.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_50</name>
          <pose>300 -125.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_51</name>
          <pose>300 -126.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_52</name>
          <pose>300 -128.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_53</name>
          <pose>300 -129.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_54</name>
          <pose>300 -131.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_55</name>
          <pose>300 -132.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_56</name>
          <pose>300 -134.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_57</name>
          <pose>300 -135.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_58</name>
          <pose>300 -137.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_59</name>
          <pose>300 -138.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_60</name>
          <pose>300 -140.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_61</name>
          <pose>300 -141.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_62</name>
          <pose>300 -143.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_63</name>
          <pose>300 -144.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_64</name>
          <pose>300 -146.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_65</name>
          <pose>300 -147.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_66</name>
          <pose>300 -149.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_67</name>
          <pose>300 -150.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_68</name>
          <pose>300 -152.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_69</name>
          <pose>300 -153.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_70</name>
          <pose>300 -155.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_71</name>
          <pose>300 -156.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_72</name>
          <pose>300 -158.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_73</name>
          <pose>300 -159.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_74</name>
          <pose>300 -161.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_75</name>
          <pose>300 -162.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_76</name>
          <pose>300 -164.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_77</name>
          <pose>300 -165.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_78</name>
          <pose>300 -167.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_79</name>
          <pose>300 -168.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_80</name>
          <pose>300 -170.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_81</name>
          <pose>300 -171.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_82</name>
          <pose>300 -173.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_83</name>
          <pose>300 -174.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_84</name>
          <pose>300 -176.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_85</name>
          <pose>300 -177.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_86</name>
          <pose>300 -179.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_87</name>
          <pose>300 -180.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_88</name>
          <pose>300 -182.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_89</name>
          <pose>300 -183.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_90</name>
          <pose>300 -185.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_91</name>
          <pose>300 -186.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_92</name>
          <pose>300 -188.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_93</name>
          <pose>300 -189.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_94</name>
          <pose>300 -191.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_95</name>
          <pose>300 -192.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_96</name>
          <pose>300 -194.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_97</name>
          <pose>300 -195.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_98</name>
          <pose>300 -197.0 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
        <include>
          <uri>model://polyform_a7</uri>
          <name>real_obstacle_99</name>
          <pose>300 -198.5 -100 0 -0 0</pose>
          <static>true</static>
        </include>

        
  </world>
</sdf>
